* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.map-wrap {
  position: relative;
  width: 100vw; /* calculate height of the screen minus the heading */
  height: calc(100vh - 60px);
}

.map {
  position: absolute;
  width: 80%;
  border-radius: 20px;
  left: 50%;
  transform: translateX(-50%);
  height: calc(100vh - 60px);
}
